body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

p {
    color: antiquewhite;
    text-align: center;
   
}